In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/Yuvraj/Videos/adult_data.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

##### How many of each race are represented in this dataset? 
##### This should be a Pandas series with race names as the index labels.

In [4]:
race_count = df.race.value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

### What is the average age of men?

In [5]:
average_age_men = df[df['sex'] == 'Male']['age'].mean()
round(average_age_men,2)

39.43

### What is the percentage of people who have a Bachelor's degree?

In [6]:
bachelors_candidate = len(df[df['education'] == 'Bachelors'])
total_candidates = len(df)
percentage_bachelors = round(bachelors_candidate / total_candidates * 100,2)
percentage_bachelors

16.45

### People Making above 50K

### What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [7]:
higher_education = df[df['education'].isin(['Bachelors','Masters','Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors','Masters','Doctorate'])]

In [8]:
non_percentage_higher = len(higher_education [higher_education.salary == ">50K"])
higher_education_rich = round(non_percentage_higher / len(higher_education) *100,1)
higher_education_rich

46.5

In [9]:
non_percentage_lower = len(lower_education [lower_education.salary == ">50K"])
lower_education_rich = round(non_percentage_lower / len(lower_education) *100,1)
lower_education_rich

17.4

 ### What is the minimum number of hours a person works per week (hours-per-week feature)?

In [10]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

### What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [11]:
num_min_workers = df[df['hours-per-week'] == 1]
noof_min_workers = len(num_min_workers)
hr_salary_count = len(num_min_workers[num_min_workers.salary == '>50K'])
rich_percentage = hr_salary_count / noof_min_workers * 100
rich_percentage

10.0

### What country has the highest percentage of people that earn >50K?

In [12]:
country_count = df['native-country'].value_counts()
country_rich_count = df[df['salary'] == '>50K']['native-country'].value_counts()
highest_earning_country = (country_rich_count / country_count *100).idxmax()
print(highest_earning_country)

Iran

In [13]:
highest_earning_country_percentage = round(country_rich_count / country_count *100,2).max()
print(highest_earning_country_percentage)

41.86

 ### Identify the most popular occupation for those who earn >50K in India.

In [14]:
country_India = df[df['native-country'] == 'India']
occupation_count = country_India['occupation'].value_counts()
count_country_india = len(country_India[country_India.salary == '>50K'])
highest_rich_count_India = (occupation_count / count_country_india * 100).idxmax()
highest_rich_count_India

'Prof-specialty'